body {
  color: var(--white-color);
  background-image: url("index.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000;
}
.reset-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-color: #696969;
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 20px;
  }
  
  .reset-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .reset-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .reset-input {
    margin-bottom: 20px;
  }
  
  .reset-input label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
    color: #555;
  }
  
  .reset-input input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .reset-button {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reset-button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  
  .success-message {
    color: green;
    font-size: 1.1rem;
  }

  .login__box select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.288);
    color: #000000;
    cursor: pointer;
    appearance: none; /* Removes default dropdown arrow */
  }
  
  .login__box select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .login__box select:invalid {
    color: #999; /* Light grey color for placeholder */
  }
  
  
  
  